apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/aliyousifomar/ArgoCD.git/monitoring/monitoring-app
    targetRevision: main
    path: kube-prometheus-stack  # path to untarred chart in repo root
    helm:
      valuesFiles:
        - custom-values.yaml  # relative to path/
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
